*.bak
*.egg
*.egg-info/
*.log
*.manifest
*.orig
*.py[cod]
*.so
*~
.cache
.coverage
.coverage.*
.eggs/
.env
.installed.cfg
.ipynb_checkpoints
.pytest_cache
.python-version
.ropeproject
.scrapy
.spyderproject
.tox/
.vscode
__pycache__/
bioutils/_data/assemblies/pull
build/
celerybeat-schedule
coverage.xml
develop-eggs/
dist/
doc/_build
doc/changelog/*/.tags
doc/changelog/*/.tags.mk
doc/changelog/*/hg-git-remap.pl
docs/_build/
downloads/
eggs/
env/
instance/
misc
nosetests.xml
sdist/
target/
venv/
